body{
    background-color: blue;
}

.change{
    border-bottom: 2px solid red;
}


.setw{
    color:"red";
    width:"450px";
    max-width:"450px"
    
}
@media only screen and (max-width: 500px) {
    .setw{
        width:"350px";
        max-width:"450px"
    }
  }

.scroll {
    background-color: #fed9ff;
    
    height: 400px;
    overflow: auto;
    text-align: justify;
    padding: 20px;
    scrollbar-color: red;
  }

  .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 30px;
  }
   
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background: rgb(61, 102, 102); 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .scroll::-webkit-scrollbar {
    width: 8px;
    font-size: 4px;
  }
  