body{
    background-color: blue;
    
}

.change{
    border-bottom: 2px solid red;
}

.show{
  display: none;
}
.add{
  color:white
}
.add:hover{
  color:red
}

.setw{
    color:"red";
    width:"450px";
    max-width:"450px"
    
}
@media only screen and (max-width: 500px) {
    .setw{
        width:"350px";
        max-width:"450px"
    }
    .remove{
      display: none;
      
     }
     .show{
       display: inline-block;
     }
    
  }

.scroll {
    background-color: #fed9ff;
    
    height: 430px;
    overflow: auto;
    text-align: justify;
    padding: 20px;
    scrollbar-color: red;
  }

  .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 30px;
  }
   
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background: rgb(61, 102, 102); 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .scroll::-webkit-scrollbar {
    width: 8px;
    font-size: 4px;
  }


  .scroll2 {
    background-color: #fed9ff;
    
    height: 480px;
    overflow: auto;
    text-align: justify;
    padding: 20px;
    scrollbar-color: red;
  }

  .scroll2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 30px;
  }
   
  /* Handle */
  .scroll2::-webkit-scrollbar-thumb {
    background: rgb(61, 102, 102); 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  .scroll2::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .scroll2::-webkit-scrollbar {
    width: 8px;
    font-size: 4px;
  }
  
  @media only screen and (max-height: 530px) {
    .removeit{
      display: none
    }
    
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}